<footer>
    <ul class="pure-g">
        <li class="pure-u-1 pure-u-sm-1-5"><a href="index.html">Services</a></li>
        <li class="pure-u-1 pure-u-sm-1-5"><a href="about.html">About</a></li>
        <li class="pure-u-1 pure-u-sm-1-5"><a href="faq.html">FAQ</a></li>
        <li class="pure-u-1 pure-u-sm-1-5"><a href="blog.html">Blog</a></li>
        <li class="pure-u-1 pure-u-sm-1-5"><a href="contact.html">Contact</a></li>
    </ul>
    <section class="social-media">
        <a class="social-fb" target="_blank" href="https://www.facebook.com/College-on-the-Horizon-LLC-805644616278352"></a>
        <a class="social-li" target="_blank" href="https://www.linkedin.com/in/maria-fuhrmann-33857515/"></a>
    </section>
    <section>
        <div><a href="mailto:maria@collegeonthehorizon.com">maria@collegeonthehorizon.com</a></div>
        <div><a href="tel:1-503-555-555">503-555-555</a></div>
        <div>&copy;&nbsp;College on the Horizon, LLC</div>
        <div>Developed by NutCase Studios</div>
    </section>
</footer>
