<!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->
<nav>
    <ul class="pure-g">
        <li class="pure-u-1 pure-u-md-1-2"><a href="index.html"><img src="img/logo-light.png"/></a></li>
        <li class="pure-u-1 pure-u-md-1-8"><a href="index.html">Services</a></li>
        <li class="pure-u-1 pure-u-md-1-8"><a href="about.html">About</a></li>
        <li class="pure-u-1 pure-u-md-1-8"><a href="faq.html">FAQ</a></li>
        <li class="pure-u-1 pure-u-md-1-8"><a href="contact.html">Contact</a></li>
    </ul>
</nav>
