<section class="testimonials">
    <h2>Testimonials</h2>
    <div class="testimonial">
        <div class="testimonial-quote">
            “Maria Fuhrmann is an exceptional educator; a profound listener who hears her clients, then puts ideas into lives for practical change and growth. She gently uses her knowledge, life experience, and sensitive instincts to serve the learning needs of others--young people and adults.”
        </div>
        <div>
            <span class="testimonial-author">Ken Peterson, PhD. Professor Emeritus</span>
            <span class="testimonial-occupation"> - 2010 George C. Hoffmann Award for Faculty Excellence, Portland State University</span>
        </div>
    </div>
    <div class="testimonial">
        <div class="testimonial-quote">
            “Maria blends great listening skills with her knowledge of schools to find great matches. She clearly is passionate about finding the best fit within realistic possibilities.”
        </div>
        <div>
            <span class="testimonial-author">Dede S.</span>
            <span class="testimonial-occupation"> - Parent</span>
        </div>
    </div>
    <div class="testimonial">
        <div class="testimonial-quote">
            “Maria found great schools I would not have considered or discovered on my own.”
        </div>
        <div>
            <span class="testimonial-author">Zach G.</span>
            <span class="testimonial-occupation"> - High School Junior</span>
        </div>
    </div>
    <div class="testimonial">
        <div class="testimonial-quote">
            "Maria has helped me in so many ways. Whether it’s from suggesting great books to read, to giving me suggestions on colleges I didn’t even know existed. She is a very easy person to talk to, which is great! Maria is always going out of her way to help others. What amazes me most is how patient she is."
        </div>
        <div>
            <span class="testimonial-author">Beth</span>
            <span class="testimonial-occupation"> - Student</span>
        </div>
    </div>
</section>
