{{> html-begin}}
<body class="contact">
    {{> nav}}
    <h1>Contact Us</h1>
    <?php
        $action=$_REQUEST['action'];
        if ($action=="") {
    ?>
        <p>Feel free to email us at <a href="mailto:maria@collegeonthehorizon.com">maria@collegeonthehorizon.com</a> or call us at <a href="tel:1-503-473-6196">503-473-6196</a>, or fill out the form below and we’ll contact you back shortly!</p>
        {{> contact-form}}
    <?php
        } else {
    ?>
        <p class="submission-success">
            Thanks! We'll get back to you shortly.
        </p>
    <?php
            $demographic=$_REQUEST['demographic'];
            $name=$_REQUEST['name'];
            $email=$_REQUEST['email'];
            $message=$_REQUEST['message'];
            $from="From: $name<$email>\r\nReturn-path: $email";
            $subject="Message from a $demographic via collegeonthehorizon.com";
            mail("maria@collegeonthehorizon.com", $subject, $message, $from);
        }
    ?>
{{> html-end}}
