{{> html-begin}}
<body class="contact">
    {{> nav}}
    <h1>Contact Us</h1>
    <p>Feel free to email us at <a href="mailto:info@collegeonthehorizon.com">info@collegeonthehorizon.com</a> or call us at <a href="tel:1-503-555-5555">503-555-5555</a>, or fill out the form below and we’ll contact you back shortly!</p>
{{> html-end}}
