{{> html-begin}}
<body class="faq">
    {{> nav}}
    <div class="content">
        <h1>Frequently Asked Questions</h1>
        <h2>You've got questions, we've got answers</h2>
        <hr />
        <section>
            <h3>Why should I use College on the Horizon?</h3>
            <p>At College on the Horizon, LLC, we seek to provide students and families with guidance as they go through the college admissions process; we come to know our clients on an individual level, and consider colleges based on the students' values, needs and personal preferences. We provide sound advice, timely service, and serve to assuage the stress that some families can experience during the transition from high school to college. Most high school guidance counselors are very knowledgeable, but some of them have caseloads of up to 300 students each, with limited office hours. College on the Horizon allows for tailored and knowledgeable counseling and guidance – at times and locations convenient for you.</p>
        </section>
        <hr />
        <section>
            <h3>When should the college counseling process begin?</h3>
            <p>College counseling often begins junior year, and continues into the senior year. However, many clients seek services beginning as freshmen or sophomores. After all, there is a lot to consider – what to study, what schools and programs fit the needs and wants of the student best, and of course – creating a game-plan that gives the best chance getting into the school of your dreams. Athletes interested in potentially getting recruited with a Division I team should ideally begin the process no later than the sophomore year.</p>
        </section>
        <hr />
        <section>
            <h3>What about those with special situations – pursuing creative talents, athletes, home schooled, those studying abroad, or with learning disabilities?</h3>
            <p>We see each student as a unique individual, so whether you wish to be recruited to play the sport you love, you wish to play in an orchestra, or you have learning disabilities and are looking for a supportive college environment, we are here to help. We are enthusiastic about helping each student to attain their goals, and we are knowledgeable about schools and programs that will fit your aspirations.</p>
        </section>
        <hr />
        <section>
            <h3>Do you schedule face-to-face meetings, and where do the meetings take place?</h3>
            <p>Face-to-face meetings occur often along the process, in a location convenient for you. Knowing that not all students drive, we can meet you at your home, or in your neighborhood coffee shop. Each meeting will be intentional, with a clear agenda, followed by goals for subsequent meetings. Questions are welcome throughout the process through email and text. For those unable to meet in person, we will meet your needs remotely, through email, text, Facetime, or phone.</p>
        </section>
        <hr />
        <section>
            <h3>What kind of help do you offer with the college essay?</h3>
            <p>As an AP English teacher for many years, assistance with the application essay is my forte. From choosing the right prompt, to brainstorming, drafting, and polishing, retaining your personal voice as a writer and highlighting your unique strengths is critical - and I can help to get you there.</p>
        </section>
        <hr />
        <section>
            <h3>Can you guarantee my admission to a specific college?</h3>
            <p>In keeping with the ethical guidelines set out by HECA, IECA, and other professional organizations, College on the Horizon cannot guarantee any student, no matter their GPA or other credentials, admission to college. We aim to support you as you put your “best foot forward.” We help the student and family streamline the process so that students emphasize their strengths. We work hard to help students come up with the right selection of schools—keeping in step with the formula of “Safety, Good Matches and Reaches” based on their academic  profiles, financial constraints and other factors</p>
        </section>
    </div>
{{> html-end}}
