{{> html-begin}}
<body class="services">
    {{> nav}}

    <section class="hero">
        <img class="hero-logo" src="img/logo-light.png"/>
        <p class="tagline">
            Custom-tailored academic advising as unique as you are.
        </p>
    </section>
    <section class="introduction pure-g">
        <h2 class="pure-u-1 pure-u-sm-1-2">Let’s get started</h2>
        <div class="pure-u-1 pure-u-sm-1-2">The college counseling process starts with an initial one-hour meeting, with the student and parents. Academic advising depends on the needs of the family and the student’s year in high school. Our comprehensive program covers the entire college selection and admission process, and is geared to students at all stages of schooling.</div>
    </section>
    <section class="package-early pure-g">
        <h2 class="pure-u-1">Early High School Package</h2>
        <h3 class="pure-u-1">Freshmen & Sophomores</h3>
        <div class="package-copy pure-g">
            <div class="pure-u-1 pure-u-lg-1-2">
                <li>“Do What You Are” personality assessment</li>
                <li>Review of student and parent questionnaires & transcript</li>
                <li>Exploring and planning for PSAT, SAT, ACT, SAT Subject Tests, & AP exams</li>
                <li>Strategically planning high school coursework, ensuring a balance of challenging courses</li>
                <li>Developing strong study skills for academic success</li>
            </div>
            <div class="pure-u-1 pure-u-lg-1-2">
                <li>Choosing and continuing with appropriate extracurricular activities</li>
                <li>Building relationships with teacher and counselor</li>
                <li>Considering summer enrichments workshops, classes, volunteering, & part-time jobs</li>
                <li>Beginning college exploration based on needs, interests, & future aspirations</li>
                <li>Research tips for further college exploration</li>
            </div>
        </div>
    </section>
    <hr class="section-divider"/>
    <section class="package-junior pure-g">
        <h2 class="pure-u-1">The Junior Package</h2>
        <h3 class="pure-u-1">High School Juniors</h3>
        <div class="package-copy pure-g">
            <div class="pure-u-1 pure-u-lg-1-2">
                <li>Selecting coursework for a rigorous, & feasible schedule</li>
                <li>Preparing for and taking the SAT, ACT, & SAT Subject Tests</li>
                <li>Choosing & continuing with appropriate extracurricular activities</li>
                <li>“Do What You Are” personality assessment</li>
                <li>Financial Aid: How to determine if a family will qualify & what is needed to apply</li>
            </div>
            <div class="pure-u-1 pure-u-lg-1-2">
                <li>Developing a list of possible colleges, noting application requirements & deadlines</li>
                <li>Approaching teachers & counselors for letters of recommendation</li>
                <li>Choosing the most appropriate prompt for the application essay and writing one draft</li>
                <li>Preparing for college visits</li>
                <li>Considering summer plans: internships, part-time jobs, & pre-college programs</li>
            </div>
        </div>
    </section>
    <hr class="section-divider"/>
    <section class="package-senior pure-g">
        <h2 class="pure-u-1">The Senior Package</h2>
        <h3 class="pure-u-1">High School Seniors</h3>
        <div class="package-copy pure-g">
            <div class="pure-u-1 pure-u-lg-1-2">
                <li>Review of student and parent questionnaires & transcript</li>
                <li>Narrowing your college list to your final choices, with a combination of safety, target and reach schools</li>
                <li>Confirming all application deadlines & application components for your final choices</li>
                <li>Approaching teachers, mentors, & counselors for letters of recommendation</li>
                <li>Polishing your personal essay & supplemental essay questions</li>
            </div>
            <div class="pure-u-1 pure-u-lg-1-2">
                <li>Completing and submitting your college applications</li>
                <li>Financial Aid: How to determine if a family will qualify & what is needed to apply</li>
                <li>Considering Early Application, Early Decision or other options</li>
                <li>Interview tips and practice, if desired</li>
                <li>Making the final decision</li>
                <li>Preparing for the transition between high school & college in order to make the most out of college</li>
            </div>
        </div>
    </section>
    <hr class="section-divider"/>
    <section class="package-transfer pure-g">
        <h2 class="pure-u-1">The Transfer Package</h2>
        <h3 class="pure-u-1">College Transfer Students</h3>
        <div class="package-copy pure-g">
            <div class="pure-u-1 pure-u-lg-1-2">
                <li>Student questionnaire and assessment of needs & interests</li>
                <li>One-on-one interviews to discuss student goals, major, & career path</li>
                <li>Review of student records: transcripts, test scores, & academic credits</li>
                <li>Review of transfer requirements</li>
                <li>Completing and submitting applications, including essay portions</li>
            </div>
            <div class="pure-u-1 pure-u-lg-1-2">
                <li>Considering Early Application, Early Decision or other options</li>
                <li>Interview tips and practice, if desired</li>
                <li>Financial Aid: How to determine if a family will qualify & what is needed to apply</li>
                <li>Development of appropriate timelines to meet goals</li>
                <li>Making the final transfer decision</li>
            </div>
        </div>
    </section>
    <hr class="section-divider"/>
    <section class="package-athlete pure-g">
        <h2 class="pure-u-1">The Athlete Package</h2>
        <h3 class="pure-u-1">College or High School Athletes</h3>
        <div class="package-copy pure-g">
            <div class="pure-u-1 pure-u-lg-1-2">
                <li>Study skills and time-management strategies for the scholar-athlete</li>
                <li>Guidance on NCAA qualifications: GPA and SAT or ACT tests & the sliding scale  </li>
                <li>SAT, ACT test taking tips and timeline</li>
                <li>Guidance with how to make yourself known to coaches with maturity and professionalism</li>
            </div>
            <div class="pure-u-1 pure-u-lg-1-2">
                <li>Planning for clinics, camps, and clubs</li>
                <li>Building relationships with teachers, coaches, mentors, & counselors</li>
                <li>Exploring athletic divisions based on your goals – NAIA, NCAA Div. I, II, or III</li>
                <li>Narrowing down a college list based upon “best fit” for you as both student and athlete</li>
            </div>
        </div>
    </section>
    <hr class="section-divider"/>
    <section class="additional-services pure-g">
        <h2 class="pure-u-1">Additional Services</h2>
        <h3 class="pure-u-1">Tutoring & Study Skills</h3>
        <div class="service-facets">
            <div class="pure-u-1 pure-u-md-1-3">
                <h4>AP English Tutoring</h4>
                <p>Learn strategic approaches, test taking skills, and test preparation by knowing your strengths and focusing on weak areas with guided practice using a variety of prompts.</p>
            </div>
            <div class="pure-u-1 pure-u-md-1-3">
                <h4>Study Skills</h4>
                <p>Improve your time management, test taking skills, study & classroom habits, and standardized testing. Prepare for what college expects. Become your best possible self.</p>
            </div>
            <div class="pure-u-1 pure-u-md-1-3">
                <h4>Essay Writing</h4>
                <p>Determine and craft your personal story and message. Learn the ins and outs of college admissions essays, and take your essay from concept to completion.</p>
            </div>
        </div>
    </section>
    <hr class="section-divider"/>
    <section>
        <h2>Testimonials</h2>
        <div class="testimonial">
            <div class="testimonial-quote">
                “Maria Fuhrmann is an exceptional educator; a profound listener who hears her clients, then puts ideas into lives for practical change and growth. She gently uses her knowledge, life experience, and sensitive instincts to serve the learning needs of others--young people and adults.”
            </div>
            <div>
                <span class="testimonial-author">Ken Peterson, PhD. Professor Emeritus</span>
                <span class="testimonial-occupation"> - 2010 George C. Hoffmann Award for Faculty Excellence, Portland State University</span>
            </div>
        </div>
        <div class="testimonial">
            <div class="testimonial-quote">
                “Maria blends great listening skills with her knowledge of schools to find great matches. She clearly is passionate about finding the best fit within realistic possibilities.”
            </div>
            <div>
                <span class="testimonial-author">Dede S.</span>
                <span class="testimonial-occupation"> - Parent</span>
            </div>
        </div>
        <div class="testimonial">
            <div class="testimonial-quote">
                “Maria found great schools I would not have considered or discovered on my own.”
            </div>
            <div>
                <span class="testimonial-author">Zach G.</span>
                <span class="testimonial-occupation"> - High School Junior</span>
            </div>
        </div>
        <div class="testimonial">
            <div class="testimonial-quote">
                "Maria has helped me in so many way. Whether it’s from suggesting great books to read, to giving me suggestions on colleges I didn’t even know existed. She is a very easy person to talk to, which is great! Maria is always going out of her way to help others. What amazes me most is how patient she is."
            </div>
            <div>
                <span class="testimonial-author">Beth</span>
                <span class="testimonial-occupation"> - Student</span>
            </div>
        </div>
    </section>
{{> html-end}}
