{{> html-begin}}
<body class="services">
    {{> nav}}

    <section class="hero">
        <img class="hero-logo" src="assets/img/logo-light.png"/>
        <p class="tagline">
            Custom-tailored academic advising as unique as you are.
        </p>
    </section>
    <section class="introduction pure-g">
        <h2 class="pure-u-1 pure-u-sm-1-2">Let’s get started</h2>
        <div class="pure-u-1 pure-u-sm-1-2">The college counseling process starts with an initial one-hour meeting, with the student and parents. Academic advising depends on the needs of the family and the student’s year in high school. Our comprehensive program covers the entire college selection and admission process, and is geared to students at all stages of schooling.</div>
    </section>
    {{> services}}
    {{> testimonials}}
    {{> cta}}
{{> html-end}}
