.profile-picture {
    border-radius: 50%;
    width: 100%;
    margin: 0 20px 20px 0;
    @media screen and (min-width: @pure-sm) {
        width: 200px;
    }
}

.profile-header {
    display: block;
    height: 100%;
    object-fit: contain;
    margin-left: auto;
    margin-right: auto;
    max-height: 298px;
    max-width: 537px;
    width: 100%;
}

.mission-statement {
    margin: @default-spacing/2 auto;
    max-width: 600px;
}

.about {
    h1 {
        color: @yellow;
        margin: @default-spacing auto;
        text-align: center;
    }

    h4 {
        margin: 0;
        font-family: 'Vollkorn' !important;
        color: @yellow;
    }

    img, h4 {
        margin-top: @default-spacing/2;
    }

    b hr {
        border-width: 4px;
        margin-bottom: @default-spacing;
    }
}
