.profile-picture {
    border-radius: 50%;
    width: 100%;
    margin: 0 20px 20px 0;
    @media screen and (min-width: @pure-sm) {
        width: 200px;
    }
}

.mission-statement {
    margin: @default-spacing/2 auto;
    max-width: 600px;
}

.about {
    .content {
        padding: 0 @minimum-padding;
        @media screen and (min-width: @pure-md) {
            padding: 0 15%;
        }
    }

    h1 {
        color: @yellow;
        margin-top: @default-spacing;
        text-align: center;
    }

    h4 {
        margin: 0;
        font-family: 'Vollkorn' !important;
        color: @yellow;
    }

    b hr {
        border-width: 4px;
        margin-bottom: @default-spacing;
    }

    hr {
        border: 0;
        border-top: 1px solid @yellow;
    }
}
