* {
    font-family: 'Lato' !important;
}

nav, footer {
    background-color: @off-black;
    height: 270px;
    line-height: 45px;
    @media screen and (min-width: @pure-md) {
        height: 60px;
        line-height: 60px;
    }

    img {
        height: 30px;
        margin: @default-spacing/2 auto 0 auto;
        @media screen and (min-width: @pure-sm) {
            margin: 15px auto;
            padding-left: @default-spacing;
        }
    }

    ul {
        margin: 0;
        padding: 0;
        text-align: center;
        @media screen and (min-width: @pure-md) {
            text-align: left;
        }
    }

    a {
        color: @yellow;
        text-decoration: none;
    }
}

.accordion-toggle {
    cursor: pointer;
}

.accordion-content {
    display: none;

    &.default {
        display: block;
    }
}

.cta {
    display: block;
    margin: @default-spacing auto;
    background: @yellow;
    border: 0;
    border-radius: 5px;
    padding: 20px 50px;

    a {
        color: white;
        text-decoration: none;
        font-weight: bold;
    }
}

footer {
    height: 310px;
    color: @off-white;
    @media screen and (min-width: @pure-md) {
        height: 170px;
    }

    ul {
        padding: @default-spacing/5 0;
        text-align: center;
        max-width: 700px;
        margin: 0 auto;
        line-height: 45px;
    }

    section {
        text-align: center;
        font-size: small;
        line-height: 20px;

        a {
            color: @off-white;
            text-decoration: none;
        }
    }
}
