.contact {
    h1 {
        color: @yellow;
        margin: @default-spacing 10%;
    }

    h1, p {
        text-align: center;
    }

    p {
        margin: 0 10%;
        a {
            color: @yellow;
        }
    }
}
