@font-face {
    font-family: 'Lato';
    src: url('../assets/font/Lato-Regular.woff') format('woff'),
         url('../assets/font/Lato-Regular.ttf')  format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('../assets/font/Lato-Bold.woff') format('woff'),
         url('../assets/font/Lato-Bold.ttf')  format('truetype');
    font-weight: bold;
}

@font-face {
    font-family: 'Vollkorn';
    src: url('../assets/font/Vollkorn-Bold.woff') format('woff'),
         url('../assets/font/Vollkorn-Bold.ttf')  format('truetype');
}
